*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/app/aleatorio.apk
/app/src/androidTest/java/com/rresto/aleatorio/
/app/src/test/java/com/rresto/aleatorio/
